@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: rgb(255, 255, 255);
  --sectionColor: rgb(221, 235, 255);
  --seperatorColor: #747474;
  --textColor: "black";
}
