@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: rgb(255, 255, 255);
  --sectionColor: rgb(168, 204, 255);
  --seperatorColor: #747474;
  --textColor: "black";
  --highlightGreen: teal;
  --highlightTextColor: white;
}

.resizerCon:hover .resizer {
  background-color: var(--highlightGreen);
  height: 100px;
}
